APP_ENV=DEVELOPMENT
APP_VERSION=1.0.0

SENDGRID_API_KEY=SENDGRID_API_KEY
SENDGRID_EMAIL_SENDER=SENDGRID_EMAIL_SENDER
SENDGRID_EMAIL_RECEIVER=SENDGRID_EMAIL_RECEIVER

TWILIO_ACCOUNT_SID=TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN=TWILIO_AUTH_TOKEN
TWILIO_PHONE_SENDER=TWILIO_PHONE_SENDER
TWILIO_PHONE_RECEIVER=TWILIO_PHONE_RECEIVER